﻿
.boxForm {
  background-color: #eeeeee;
  border-radius: 30px;
}

.errorsBox{
    background-color : #eeeeee;
    border-radius : 20px;
    padding-bottom : 20px;
    border-style : solid 2px;
}

.subTitle{
  font-size: 21px;
  font-weight: 200;
  padding:20px;
  margin:15px;

}

.padding{
    padding-bottom:10px;
    white-space:nowrap;
}

.bigBox{
    margin-bottom:50px;
    width:700px;
    height:700px;
    color:inherit;
    margin-top:20px;
    margin-left:20px;
}